extends ../../layout

block content
	div(class="row")
		h2 Lista de TAGs cadastradas
		p Lista dos vinhos cadastrados no nosso sistema.
	div(class="row")
		div(class="pull-left")
			div(class="btn-toolbar")
				a(href="/tags/add", class="btn btn-default") Cadastrar TAG
