doctype html
html
	head
		title Gaveta

		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		include layout/menu
		div(class="container")
			block content
		div(class="container")
			include layout/footer
		script(type='text/javascript', src='/javascripts/jquery.js')
		script(type='text/javascript', src='/bootstrap/js/bootstrap.min.js')
		block javascript
		
		