extends ../layout

block content
	div(class="row")
		h2 Numeros
		p Cadastre a lista de numeros.
	hr
	
	//- nome: String,
	//- desc: String,
	//- num: String,
	//- list: [
	//- 	{
	//- 		nome: String,
	//- 		desc: String,
	//- 		num: String,
	//- 		gps: { lat: String, lon: String },
	//- 		km: String,
	//- 		showLat: Boolean
	//- 	}
	//- ],
	//- lista: Boolean,
	//- showLat: Boolean,
	
	div(class="row")
		form(class="form-horizontal", role="form", method="POST", action="/numeros", name="form_componente")
			div(class="col-sm-12")
				div(class="form-group col-sm-12")
					label(for="componente_nome", class="col-sm-2 control-label") Nome:
					div(class="col-sm-10")
						input(type="text", class="form-control", placeholder="Digite o nome.", name="nome", data-ng-model="nome" )
							
				div(class="form-group col-sm-12")
					label(for="componente_quantidade", class="col-sm-2 control-label") Numero:
					div(class="col-sm-10")
						input(type="text" class="form-control", placeholder="Digite o numero", name="num")

				div(class="form-group col-sm-12")
					label(for="componente_quantidade", class="col-sm-2 control-label") Lista:
					div(class="col-sm-10")
						input(type="checkbox", class="form-control", placeholder="Digite o numero", name="lista")
			p 
				div(id="novo_item")
			
			div(class="form-group")
				div(class="col-sm-offset-2 col-sm-10")
					a(href="#", class="btn btn-success", id="addItem") Adicionar Item
			div(class="form-group")
				div(class="col-sm-offset-2 col-sm-10")
					button(type="submit", class="btn btn-success") Cadastrar
