extends ../layout

block content
	div(class="row")
		h2 Vinhos
		p Cadastre novo vinho, primeiro cadastre o nome do vinho, logo em seguida preencha o cadastro completo.
	div(class="row")
		div(class="pull-left")
			div(class="btn-toolbar")
				a(href="/vinhos", class="btn btn-default") Listar Vinhos
	hr
	div(class="row")
		form(class="form-horizontal", role="form")
			div(class="form-group")
				label(for="vinho_nome", class="col-sm-2 control-label") Nome do Vinho:
				div(class="col-sm-10")
					input(type="text" class="form-control" id="vinho_nome" placeholder="Digite o nome do vinho", name="nome")
			div(class="form-group")
				div(class="col-sm-offset-2 col-sm-10")
					button(type="submit", class="btn btn-success") Cadastrar