div(class="navbar navbar-default navbar-fixed-top")
	div(class="container")
		div(class="navbar-header")
			a(href="/", class="navbar-brand") Gaveta
			button(class="navbar-toggle", type="button", data-toggle="collapse",data-target="#navbar-main")
				span(class="icon-bar")
				span(class="icon-bar")
				span(class="icon-bar")
		div(class="navbar-collapse collapse", id="navbar-main")
			ul(class="nav navbar-nav")
				li(class="dropdown")
					a(href="/") Principal 
				li(class="dropdown")
					a(href="#", class="dropdown-toggle", data-toggle="dropdown", id="gavetas") Gavetas
						span(class="caret")
					ul(class="dropdown-menu", aria-labelledby="vinhos")
						li
							a(href="/gavetas") Cadastrar
						li
							a(href="/gaveta/novo") Relatorio
							
				li(class="dropdown")
					a(href="#", class="dropdown-toggle", data-toggle="dropdown", id="componentes") Componentes/Itens
						span(class="caret")
					ul(class="dropdown-menu", aria-labelledby="vinhos")
						li
							a(href="/componente/cadastrar") Cadastrar Novo
						li
							a(href="/componente") Listar
							
				li(class="dropdown")
					a(href="#") bla
			ul(class="nav navbar-nav navbar-right")
				li(class="dropdown")
					a(href="#", class="dropdown-toggle", data-toggle="dropdown", id="vinhos") bla
						span(class="caret")
					ul(class="dropdown-menu", aria-labelledby="vinhos")
						li
							a(href="#") blabla
						